
body {
  background-color:#000000;
  color: #33ff00;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  width:64%;
  margin:auto;
  padding: 4% 3% 10%;
  box-sizing: border-box;
  border: 1px solid #33ff00;
}

#intro {
  margin: 0% 0% 10%;
}

div.lang {
  display:none;
  width:80%;
  box-sizing: border-box;
  padding: 4% 4% 5%;
  margin:auto;
  margin-top:-15%;
}

#again {
  display:none;
}

#bubbleWrap {
  display:none;
}

.bubble {
  height: 100px;
  width: 100px;
  border-radius:50%;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000);
  z-index: -1;
  opacity: 0;
}

#bubbleOne {
  margin:auto;
  -webkit-animation: bubbleOne 4s ease-out infinite normal;
  animation: bubbleOne 4s ease-out infinite normal;
}

@-webkit-keyframes bubbleOne {
  0% {opacity: 0.2;}
  100% {opacity: 0;}
}

@keyframes bubbleOne {
  0% {opacity: 0.2;}
  100% {opacity: 0;}
}

#bubbleTwo {
  -webkit-animation: bubbleTwo 4s ease-out infinite normal;
  animation: bubbleTwo 4s ease-out infinite normal;
}

@-webkit-keyframes bubbleTwo {
  0% {opacity: 0.2;}
  100% {opacity: 0;}
}

@keyframes bubbleTwo {
  0% {opacity: 0.2;}
  100% {opacity: 0;}
}

#bubbleThree {
  float:right;
  -webkit-animation: bubbleThree 4s ease-out infinite normal;
  animation: bubbleTwo 4s ease-out infinite normal;
}

@-webkit-keyframes bubbleThree {
  0% {opacity: 0.2;}
  100% {opacity: 0;}
}

@keyframes bubbleThree {
  0% {opacity: 0.2;}
  100% {opacity: 0;}
}