
body {
  background-color:#000000;
  color: #33ff00;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  width:64%;
  margin:auto;
  padding: 4% 3% 10%;
  box-sizing: border-box;
  border: 1px solid #33ff00;
}

#favColor {
  height:50px;
  width:60px;
  cursor:crosshair;
}

h1 {
  text-transform: uppercase;
}

h5 {
  font-weight:bold;
  font-size:1.1em;
}

#blink {
  margin:0px 0px 0px -6px;
  font-size:0.9em;
}

.form-group {
  padding:0px 0px 30px;
}

#userName {
  width:300px;
}

#intro {
  margin: 0% 0% 10%;
}

#chosen {
  display:none;
}

div.lang {
  display:none;
  width:100%;
  box-sizing: border-box;
  padding: 4% 4% 5%;
  margin:-25% 20% 0%;
  /* margin-top:-15%; */
  font-size:1.5em;
  float:left;
}

.button {
  background-color: #33ff00;
  color:#000000;
  border: hidden;
  padding: 10px 20px;
  font-weight:bold;
  text-transform: uppercase;
}

.button:hover {
  background-color:#000;
  color:#33ff00;
  border:1px solid #33ff00;
}

#againWrap {
  width:100%;
  margin:auto;
}

#again {
  display:none;
  float:left;
  padding-bottom:100px;
}

#bubbleWrap {
  display:none;
}

#miniWrap {
  display:none;
}

.bubble {
  height: 100px;
  width: 100px;
  border-radius:50%;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000);
  background-image:url(../img/bubble.png);
  background-size:100%;
  background-repeat:no-repeat;
  z-index: -1;
  opacity: 0;
}

.miniBubble {
  height: 20px;
  width: 20px;
  border-radius:50%;
  z-index: -1;
  opacity: 0;
}

#bubbleOne {
  margin:auto;
  -webkit-animation: bubbleOne 3s ease-out infinite normal;
  animation: bubbleOne 3s ease-out infinite normal;
  animation-direction:alternate;
}

@-webkit-keyframes bubbleOne {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes bubbleOne {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

#bubbleTwo {
  -webkit-animation: bubbleTwo 2s ease-out infinite normal;
  animation: bubbleTwo 2s ease-out infinite normal;
  animation-direction:alternate;
}

@-webkit-keyframes bubbleTwo {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes bubbleTwo {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

#bubbleThree {
  float:right;
  -webkit-animation: bubbleThree 1.5s ease-out infinite normal;
  animation: bubbleTwo 1.5s ease-out infinite normal;
  animation-direction:alternate;
}

@-webkit-keyframes bubbleThree {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes bubbleThree {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

#miniOne {
  float:left;
  margin: 300px 0px 0px 200px;
  -webkit-animation: miniOne 3s ease-out infinite normal;
  animation: miniOne 3s ease-out infinite normal;
  animation-direction:alternate;
}

@-webkit-keyframes miniOne {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes miniOne {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

#miniTwo {
  margin:80px 0px 0px 100px;
  -webkit-animation: miniTwo 2s ease-out infinite normal;
  animation: miniTwo 2s ease-out infinite normal;
  animation-direction:alternate;
}

@-webkit-keyframes miniTwo {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes miniTwo {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

#miniThree {
  float:right;
  margin: 0px 100px 0px 0px;
  -webkit-animation: miniThree 1.5s ease-out infinite normal;
  animation: miniTwo 1.5s ease-out infinite normal;
  animation-direction:alternate;
}

@-webkit-keyframes miniThree {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes miniThree {
  0% {opacity: 1;}
  100% {opacity: 0;}
}